<div class="login-form-div">
  <h2 class="form-title">Login to Noter</h1>
  <% if flash[:alert] %>
    <p class="flash"><%= flash[:alert]%></p>
  <% end %>
  <%= form_tag do %>
    <%= text_field_tag :username, params[:username], placeholder:'Username' %>
    <%= password_field_tag :password, params[:password], placeholder:'Password' %>
    <%= submit_tag "Login",class:"submit-btn" %>
    <%= link_to "Create an account", new_user_path %>
  <% end %>
</div>


