<p id="notice"><%= notice %></p>

  <h1 class="heading">Notes</h1>
  <div class="new-note-link">
    <%= link_to 'New Note', new_note_path %>
  </div>
  <div class="note-list-container">
    <div class="cat-list-container">
      <ul class="cat-list">
        <li>work</li>
        <li>work</li>
        <li>work</li>
        <li>work</li>
        <li>work</li>
        <li>work</li>
        <li>work</li>
        <li>work</li>
      </ul>
    </div>
    <div class="notes-container">
      <% @notes.each do |note| %>
      <div class="one-note">
        <a href="<%= note_url(note.id)%>" class="note-link">
          <div class="note">
            <div class="note-details">
              <p style="font-weight:bold;">
                <% if note.title %>
                  <%= note.title %>
                <% end %>
              </p>
              <p><%= note.content %></p>
              Categories: <%= note.categories.join(",") %><br>
              Last updated on <%= note.updated_at.in_time_zone("Chennai").strftime("%Y-%m-%d at %l:%M %p")%>
            </div>
              <ul class="note-actions">
                <li><%= link_to 'Show', note %></li>
                <li><%= link_to 'Edit', edit_note_path(note) %></li>
                <li><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
    
    
  

<br>


