<%if notice%>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="show-note">
    <div class="show-note-detail">
      <div class="show-note-title">
        <% if @note.title %>
          <%=@note.title%>
        <% end %>
      </div>
      <%= @note.content %>
    </div>
    
    
    <div class="show-note-actions">
      <%= link_to 'Edit', edit_note_path(@note) %> |
      <%= link_to 'Back', notes_path %>
    </div>
    
  
</div>


