<div class="note-list-container">
    <div class="cat-list-container">
      <p style="color:tomato;"><strong>Categories</strong></p>
      <ul class="cat-list">
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category_url(category.id) %></li>
        <% end %>
          
      </ul>
      <%= link_to "New Category", new_category_url %>
    </div>
    <div class="notes-container">
      
      <% @notes.each do |note| %>
      <div class="one-note">
        <a href="<%= note_url(note.id)%>" class="note-link">
          <div class="note">
            <div class="note-details">
              <p style="font-weight:bold;">
                <% if note.title %>
                  <%= note.title %>
                <% end %>
              </p>
              <p><%= note.content %></p>
              Categories: <%= note.categories.join(",") %><br>
              Last updated on <%= note.updated_at.in_time_zone("Chennai").strftime("%Y-%m-%d at %l:%M %p")%>
            </div>
              <ul class="note-actions">
                <li><%= link_to 'Show', note %></li>
                <li><%= link_to 'Edit', edit_note_path(note) %></li>
                <li><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            
          </div>
        </a>
      </div>
      <% end %>
    </div>
</div>