<div class="note-list-container">
    
    <div class="notes-container">
      <% if @notes.size > 0 %>
        <% @notes.each do |note| %>
          <div class="one-note">
            <a href="<%= note_url(note.id)%>" class="note-link">
              <div class="note">
                <div class="note-details">
                  <p style="font-weight:bold;">
                    <% if note.title %>
                      <%= note.title %>
                    <% end %>
                  </p>
                  <p><%= note.content %></p>
                  Categories: <%= note.categories.join(",") %><br>
                  Last updated on <%= note.updated_at.in_time_zone("Chennai").strftime("%Y-%m-%d at %l:%M %p")%>
                </div>
                <ul class="note-actions">
                  <li><%= link_to '', note, class:'far fa-eye' %></li>
                  <li><%= link_to '', edit_note_path(note), class: 'far fa-edit' %></li>
                  <li><%= link_to '', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fas fa-trash' %></li>
                </ul>
              </div>
            </a>
          </div>
        <% end %>
      <% else %>
        <div>
          <p><h3>No notes to show</h3></p>
        </div>
      <% end %>
    </div>
</div>