<div class="form-div">
  <%= form_with(model: category) do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h1 class="heading">Add new Category</h1>
    <div class="field">
      <%= form.text_field :name, placeholder: "New category" %>
    </div>

    <div class="actions">
      <%= form.submit class:"btn-submit"%>
      <%= link_to 'Back', notes_path %>
    </div>
  <% end %>
</div>

