<!DOCTYPE html>
<html>
  <head>
    <title>Noter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/77580644d1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="header-div">
        <%= link_to "Noter", notes_url%>
        <div>
          <%= link_to "Logout", logout_path, method: :delete %>
        </div>
      </div>
      <div class="search-notes">
          <%= form_tag notes_path, method: :get do %>
            <%= search_field_tag :query, params[:query] %>
            <%= submit_tag 'Search', class: "btn-search" %>
          <% end %>
      </div>
    </header>
    <main class='<%= controller.controller_name %>'>
      <div class="cat-list-container">
        <p style="color:tomato;"><strong>Categories</strong></p>
        <ul class="cat-list">
          <% if @categories %>
            <% @categories.each do |category| %>
              <li><%= link_to category.name, category_url(category.id) %></li>
            <% end %>
          <% end %>
        </ul>
        <%= link_to "New Category", new_category_url %>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
